@CHARSET "UTF-8";

/*
 * File         main.css
 * Company      Alter Imago
 * Author       Guillaume ORIOL
 * Created on   2010-11-21
 * Description  Main stylesheet: layout, font and colors
 */
 
/* Page layout
 * -----------------------------------------------------------------------------
 * Set payload width (depending on most popular screen definition).
 * According to www.w3counter.com, 1024x768 is #1 screen resolution in aug 2010.
 * According to FoldSpy, you can be sure that your visitors will be able to see
 * the content placed within the 500px-800px screen height.
 * Also centers the content horizontally in the viewport.
 * "text-align: left;" would be needed for IE 5.5 (known bug).
 */
#bodyWrapper,#headerWrapper,#footerWrapper {
/*    background: transparent url("image/960-grid-16-cols.png"); */
}

/*
 * The position property is set to relative in order to use an absolute
 * position relative to this container for the messageWrapper
 */
#bodyWrapper {
    margin-top: 20px; 
    min-height: 300px;
    position: relative;
}

#headerWrapper {
    margin-top: 30px;
    margin-bottom: 11px;
}

/* 
 * Navigation 
 */
#navigation {
    line-height: 41px; /* Adjust to logo's height */
}

#navigation li {
    display: inline-block;
    padding-left: 1em;
    background-image: url("image/nav-separator.png");
    background-repeat: no-repeat;
    background-position: left center;
}

#navigation li.alpha {
    padding-left: 0;
    background: none;
}

#navigation li span {
    padding-right: 0.5em; /* space for the bullet */
    margin-right: 0.75em; /* space between the bullet and the next separator */
    background-image: url("image/bullet-grey.png");
    background-repeat: no-repeat;
    background-position: right 13px;
}

#navigation li.selected span {
    background-image: url("image/bullet-red.png");
}

/*
 * Left side bar 
 */
.sideBarLeft h2 {
    height: 40px;
    padding: 16px 10px 4px 10px;
    background: transparent url("image/sidebar-header-hatching.png");
}

.sideBarLeft ul {
    padding: 10px 0 10px 10px;
    background-image: url("image/sidebar-content-hatching.png");
    background-repeat: repeat-y;
}

.sideBarLeft li {
    margin-bottom: 0.4em;
}

/*
 * Right side bar
 */
.sideBarRight {
    margin-top: 20px;
}

.sideBarRight h3 {
    line-height: 40px; /* Adjust to background image height */
    padding-left: 0.7em;
    background-image: url("image/sbr-header-hatching.png");
    background-repeat: no-repeat;
}

.sideBarRight ul {
    margin-top: 0.6em;
    margin-left: 1.6em;
    margin-bottom: 1em;
    font-size: 80%;
    list-style-image: url("image/bullet-red.png");
}

.sideBarRight li {
    margin-bottom: 0.4em;
}

/* 
 * Content pane
 */
p {
    line-height: 1.4;
    margin-top: 1.2em;
}

a.inline {
    padding: 0 0.2em;
    text-decoration: none;
}

/*
 * Typefaces
 * -----------------------------------------------------------------------------
 * Regular text font
 */
body {
    font-family: "Inconsolata", Arial, monospace;
    /*
     * "100%" means 100% of the parent object font size. Speaking about body,
     * it refers to the browser's defined font size (user preferences).
     * Use 100.1% to avoid an Opera bug up to release 6.
     */
    font-size: 100%;
}

#headerWrapper {
    font-size: 120%;
}

#footerWrapper {
    font-size: 12px; /* Fixed size: we don't want it to grow up when zooming */
}

/**
 * Heading and footer font
 */
h1,h2,h3,h4,h5,h6,#footerWrapper {
    font-weight: normal;
}

h1 {
    font-size: 200%;
    margin-top: 12px;
    margin-bottom: 10px;
}

h2 {
    font-size: 180%;
}

h3 {
    font-size: 130%;
}

h4 {
    font-size: 120%;
}

#content p {
    font-family: Verdana, sans-serif;
    font-size: 80%
}

/*
 * Background colors
 * -----------------------------------------------------------------------------
 * Page background 
 */
body {
    background-color: #404040;
}

#bodyWrapper,#headerWrapper,#footerWrapper {
    background-color: #404040;
}

a.inline {
    background-color: #ececec;
}

/*
 * Foreground colors
 * -----------------------------------------------------------------------------
 * Page foreground
 */
#bodyWrapper,#navigation .selected,.sideBarLeft h2 {
    color: #ffffff;
}

#navigation,.sideBarLeft li {
    color: #b5b5b5;
}

.sideBarLeft li.selected {
    color: #ce1932;
}

a.inline {
    color: #7c7c7c;
}

#headerRuler {
    border: 1px solid #9d9d9d;
}

.sideBarLeft .ruler,.sideBarRight .ruler {
    border: 1px solid #505050;
}